# App
BASE_URL=
AUTH_EMAIL=
AUTH_PASSWORD=
DEBUG_REQUESTS=

TARGET_DEV=
TARGET_PROD=

NODE_ENV_DEV=
NODE_ENV_PROD=
NODE_ENV_TEST=

# Portas
REPORT_PORT=
SONAR_PORT=

# SonarQube
SONAR_DB_USER=
SONAR_DB_PASSWORD=
SONAR_DB_NAME=

SONAR_HOST_URL=
SONAR_LOGIN=
SONAR_TOKEN=