# App
BASE_URL=https://reqres.in
AUTH_EMAIL=eve.holt@reqres.in
AUTH_PASSWORD=cityslicka
DEBUG_REQUESTS=false

TARGET_DEV=dev
TARGET_PROD=prod

NODE_ENV_DEV=development
NODE_ENV_PROD=production
NODE_ENV_TEST=test

# Portas
REPORT_PORT=8080
SONAR_PORT=9000

# SonarQube
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonar
SONAR_DB_NAME=sonarqube

SONAR_HOST_URL=http://sonarqube:9000
SONAR_LOGIN=admin
SONAR_TOKEN=sqa_f7e36f349d97cd7213f21816fca30da2fbcf89f8